<link th:href="@{/css/api.css}" rel="stylesheet"/>
<body>
<div id="redoc">
	<div class="sc-jtiXyc jMuNti redoc-wrap">
		<div class="sc-kTCsyW dEJzoh menu-content" style="top: 0px; height: calc(100vh - 0)"></div>
		<div class="sc-dvUynV fwtNQv">
			<div class="sc-eWnToP hMahXA">
				<svg class="" style="transform:translate(2px, -4px) rotate(180deg);transition:transform 0.2s ease" viewBox="0 0 926.23699 573.74994" version="1.1" x="0px" y="0px" width="15" height="15"><g transform="translate(904.92214,-879.1482)"><path d="m -673.67664,1221.6502 -231.2455,-231.24803 55.6165, -55.627 c 30.5891,-30.59485 56.1806,-55.627 56.8701,-55.627 0.6894, 0 79.8637,78.60862 175.9427,174.68583 l 174.6892,174.6858 174.6892, -174.6858 c 96.079,-96.07721 175.253196,-174.68583 175.942696, -174.68583 0.6895,0 26.281,25.03215 56.8701, 55.627 l 55.6165,55.627 -231.245496,231.24803 c -127.185,127.1864 -231.5279,231.248 -231.873,231.248 -0.3451,0 -104.688, -104.0616 -231.873,-231.248 z" fill="currentColor"></path></g></svg>
				<svg class="" style="transform:translate(2px, 4px);transition:transform 0.2s ease" viewBox="0 0 926.23699 573.74994" version="1.1" x="0px" y="0px" width="15" height="15"><g transform="translate(904.92214,-879.1482)"><path d="m -673.67664,1221.6502 -231.2455,-231.24803 55.6165, -55.627 c 30.5891,-30.59485 56.1806,-55.627 56.8701,-55.627 0.6894, 0 79.8637,78.60862 175.9427,174.68583 l 174.6892,174.6858 174.6892, -174.6858 c 96.079,-96.07721 175.253196,-174.68583 175.942696, -174.68583 0.6895,0 26.281,25.03215 56.8701, 55.627 l 55.6165,55.627 -231.245496,231.24803 c -127.185,127.1864 -231.5279,231.248 -231.873,231.248 -0.3451,0 -104.688, -104.0616 -231.873,-231.248 z" fill="currentColor"></path></g></svg>
			</div>
		</div>
		<div class="sc-ellfGf gvnHBp api-content">
			<div class="sc-eCApnc eMejJE">
				<div class="sc-iCoGMd gLxhOh">
					<div class="sc-hKFxyN fdyqss api-info">
						<h1 class="sc-fujyAs sc-fcmMJX cTueGk ikafbi">My custom API <span>(v1)</span></h1>
<!--						<p>Download api specification</p>-->
						<div class="sc-iBzEeX sc-cOifOu dFWqin iLejYe">
							<div class="sc-bXexck ePwgUU">
								<div class="sc-eGJWMs hDhyRZ">
									<span class="sc-gsWcmt gCgqqY">URL: <a href="http://localhost:8090/developer">http://localhost:8090/developer</a></span>
									<span class="sc-gsWcmt gCgqqY"><a href="https://localhost:8090/tos">Terms of Service</a></span>
								</div>
							</div>
						</div>
						<div class="sc-iBzEeX sc-cOifOu dFWqin iLejYe" data-role="redoc-summary"></div>
						<div class="sc-iBzEeX sc-cOifOu dFWqin iLejYe" data-role="redoc-description"></div>
					</div>
				</div>
			</div>
			<div id="tag/Cars" data-section-id="tag/Cars" class="sc-eCApnc eMejJE">
				<div class="sc-iCoGMd gLxhOh">
					<div class="sc-hKFxyN fdyqss">
						<h1 class="sc-fujyAs cTueGk"><a class="sc-crzoAE iUxAWq" th:href="@{#tag/Cars}" aria-label="tag/Cars"></a> Cars</h1>
					</div>
				</div>
			</div>
			<div id="tag/Cars/paths/~1v1~1cars/get" data-section-id="tag/Cars/paths/~1v1~1cars/get" class="sc-eCApnc eMejJE">
				<div class="sc-iCoGMd gLxhOh">
					<div class="sc-hKFxyN fdyqss">
						<h2 class="sc-pNWdM euRMgx">
							<a class="sc-crzoAE iUxAWq" th:href="@{'#tag/Cars/paths/~1v1~1cars/get'}" aria-label="tag/Cars/paths/~1v1~1cars/get"></a> Cars Information
						</h2>
						<div class="sc-irKDMX CAIqV">
							<div class="sc-iBzEeX sc-cOifOu dFWqin iLejYe">
								<p>Return information about all cars.</p>
							</div>
						</div>
						<div>
							<h3 class="sc-dTSzeu efuQZt">Responses</h3>
							<div>
								<button class="sc-jXcxbT bCvCHz">
									<svg class="sc-dIsUp jLtOTj" version="1.1" viewBox="0 0 24 24" x="0" xmlns="http://www.w3.org/2000/svg" y="0" aria-hidden="true"><polygon points="17.3 8.3 12 13.6 6.7 8.3 5.3 9.7 12 16.4 18.7 9.7 "></polygon></svg>
									<strong class="sc-jlZJtj jSPrUM">200</strong>
									<span class="sc-Arkif bwyOdW">
										<p>A successful response</p>
									</span>
								</button>
							</div>
						</div>
					</div>
					<div class="sc-jSFjdj sc-gKAaRy dLxPOu gcushC">
						<div class="sc-kYPZxB jdCbTS">
							<button class="sc-dWBRfb hIiosY">
								<span type="get" class="sc-jHcXXw cAOCuf http-verb get">get</span>
								<span class="sc-xGAEC jRjoAh">/v1/cars</span>
								<svg class="sc-dIsUp bvUgLx" style="margin-right:-25px" version="1.1" viewBox="0 0 24 24" x="0" xmlns="http://www.w3.org/2000/svg" y="0" aria-hidden="true">
									<polygon points="17.3 8.3 12 13.6 6.7 8.3 5.3 9.7 12 16.4 18.7 9.7 "></polygon>
								</svg>
							</button>
							<div aria-hidden="true" class="sc-bQCEYZ JwytR">
								<div class="sc-fXgAZx fKFAhr">
									<div class="sc-iBzEeX sc-cOifOu dFWqin eIeKQA"></div>
									<div tabindex="0" role="button">
										<div class="sc-EZqKI gjiGnZ">
											<span>http://localhost:8090/api</span>
											/v1/cars
										</div>
									</div>
								</div>
							</div>
						</div>
						<div>
							<h3 class="sc-kEqXSa iXmHCl">Response samples</h3>
							<div class="sc-carFqZ jNTZig" data-tabs="true">
								<ul class="react-tabs__tab-list" role="tablist">
									<li class="tab-success react-tabs__tab--selected" role="tab" id="react-tabs-34" aria-selected="true" aria-disabled="false" aria-controls="react-tabs-35" tabindex="0">200</li>
								</ul>
								<div class="react-tabs__tab-panel react-tabs__tab-panel--selected" role="tabpanel" id="react-tabs-35" aria-labelledby="react-tabs-34">
									<div>
										<div class="sc-hhIiOg lhdonw">
											<span class="sc-oeezt bmwRob">Content type</span>
											<div class="sc-eJocfa jzRrfm">application/json</div>
										</div>
										<div class="sc-gGLxEB hINeXe">
											<div class="sc-iNiQyp cVHUjN">
												<div class="sc-efHYUO eQQUSD"><button><div class="sc-khIgEk llGFDD">Copy</div></button></div>
												<div class="sc-iBzEeX dFWqin sc-jffHpj fqzhkP"><!--
--><div class="redoc-json"><!--
--><code><!--
--><span class="token punctuation">{</span><!--
--><span class="ellipsis"></span><!--
--><ul class="obj collapsible"><!--
--><li><div class="hoverable "><span class="property token string">"success"</span>: <span class="token boolean">true</span><span class="token punctuation">,</span></div></li><!--
--><li><div class="hoverable "><span class="property token string">"lastUpdated"</span>: <span class="token number">0</span><span class="token punctuation">,</span></div></li><!--
--><li><!--
--><div class="hoverable "><!--
--><span class="property token string">"cars"</span>: <!--
--><span class="token punctuation">[</span><!--
--><span class="ellipsis"></span><!--
--><ul class="obj collapsible"><!--
--><li><!--
--><div class="hoverable "><!--
--><span class="token punctuation">{</span><!--
--><span class="ellipsis"></span><!--
--><ul class="obj collapsible"><!--
--><li><!--
--><div class="hoverable "><!--
--><span class="property token string">"id"</span>: <!--
--><span class="token number">1</span><!--
--><span class="token punctuation">,</span><!--
--></div><!--
--></li><!--
--><li><!--
--><div class="hoverable "><!--
--><span class="property token string">"brand"</span>: <!--
--><span class="token string">"Tayota"</span><!--
--><span class="token punctuation">,</span><!--
--></div><!--
--></li><!--
--><li><!--
--><div class="hoverable "><!--
--><span class="property token string">"licensePlate"</span>: <!--
--><span class="token string">"ABC123"</span><!--
--><span class="token punctuation">,</span><!--
--></div><!--
--></li><!--
--><li><!--
--><div class="hoverable "><!--
--><span class="property token string">"color"</span>: <!--
--><span class="token string">"Blue"</span><!--
--><span class="token punctuation">,</span><!--
--></div><!--
--></li><!--
--><li><!--
--><div class="hoverable "><!--
--><span class="property token string">"owner"</span>: <!--
--><span class="token punctuation">{</span><!--
--><span class="ellipsis"></span><!--
--><ul class="obj collapsible"><!--
--><li><div class="hoverable "><span class="property token string">"id"</span>: <span class="token number">1</span><span class="token punctuation">,</span></div></li><!--
--><li><div class="hoverable "><span class="property token string">"lastname"</span>: <span class="token string">"Doe"</span><span class="token punctuation">,</span></div></li><!--
--><li><div class="hoverable "><span class="property token string">"name"</span>: <span class="token string">"John"</span><span class="token punctuation">,</span></div></li><!--
--><li><div class="hoverable "><span class="property token string">"middlename"</span>: <span class="token keyword">null</span><span class="token punctuation">,</span></div></li><!--
--><li><div class="hoverable "><span class="property token string">"phone"</span>: <span class="token string">"555-1234"</span><span class="token punctuation">,</span></div></li><!--
--><li><div class="hoverable "><span class="property token string">"inn"</span>: <span class="token string">"123456789"</span><span class="token punctuation">,</span></div></li><!--
--><li><div class="hoverable "><span class="property token string">"login"</span>: <span class="token string">"john.doe"</span><span class="token punctuation">,</span></div></li><!--
--><li><div class="hoverable "><span class="property token string">"email"</span>: <span class="token string">"john.doe@example.com"</span><span class="token punctuation">,</span></div></li><!--
--><li><div class="hoverable "><span class="property token string">"archive"</span>: <span class="token boolean">false</span><span class="token punctuation">,</span></div></li><!--
--><li><div class="hoverable "><span class="property token string">"role"</span>: <span class="token string">"CLIENT"</span><span class="token punctuation">,</span></div></li><!--
--><li><div class="hoverable "><span class="property token string">"sex"</span>: <span class="token number">1</span><span class="token punctuation">,</span></div></li><!--
--><li><div class="hoverable "><span class="property token string">"cars"</span>: <span class="token punctuation">[</span> <span class="token punctuation">]</span></div></li><!--
--></ul><!--
--><span class="token punctuation">}</span><!--
--><span class="token punctuation">,</span><!--
--></div><!--
--></li><!--
--><li><!--
--><div class="hoverable "><!--
--><span class="property token string">"dealer"</span>: <!--
--><span class="token punctuation">{</span><!--
--><span class="ellipsis"></span><!--
--><ul class="obj collapsible"><!--
--><li><div class="hoverable "><span class="property token string">"id"</span>: <span class="token number">1</span><span class="token punctuation">,</span></div></li><!--
--><li><div class="hoverable "><span class="property token string">"name"</span>: <span class="token string">"Dealer 1"</span><span class="token punctuation">,</span></div></li><!--
--><li><div class="hoverable "><span class="property token string">"licenseNumber"</span>: <span class="token number">123456</span><span class="token punctuation">,</span></div></li><!--
--><li><div class="hoverable "><span class="property token string">"phone"</span>: <span class="token string">"555-1234"</span><span class="token punctuation">,</span></div></li><!--
--><li><div class="hoverable "><span class="property token string">"ogrn"</span>: <span class="token number">123456789</span><span class="token punctuation">,</span></div></li><!--
--><li><div class="hoverable "><span class="property token string">"users"</span>: <span class="token punctuation">[</span> <span class="token punctuation">]</span></div></li><!--
--></ul><!--
--><span class="token punctuation">}</span><!--
--></div><!--
--></li><!--
--></ul><!--
--><span class="token punctuation">}</span><!--
--></div><!--
--></li><!--
--><li></li><!--
--></ul><!--
--><span class="token punctuation">]</span><!--
--></div><!--
--></li><!--
--></ul><!--
--><span class="token punctuation">}</span><!--
--></code><!--
--></div><!--
--></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
<!--			<div id="tag/Cars" data-section-id="tag/Cars" class="sc-eCApnc eMejJE"></div>-->
<!--			<div id="tag/Cars" data-section-id="tag/Cars" class="sc-eCApnc eMejJE"></div>-->
<!--			<div id="tag/Cars" data-section-id="tag/Cars" class="sc-eCApnc eMejJE"></div>-->
<!--			<div id="tag/Cars" data-section-id="tag/Cars" class="sc-eCApnc eMejJE"></div>-->
<!--			<div id="tag/Cars" data-section-id="tag/Cars" class="sc-eCApnc eMejJE"></div>-->
<!--			<div id="tag/Cars" data-section-id="tag/Cars" class="sc-eCApnc eMejJE"></div>-->
<!--			<div id="tag/Cars" data-section-id="tag/Cars" class="sc-eCApnc eMejJE"></div>-->
<!--			<div id="tag/Cars" data-section-id="tag/Cars" class="sc-eCApnc eMejJE"></div>-->
<!--			<div id="tag/Cars" data-section-id="tag/Cars" class="sc-eCApnc eMejJE"></div>-->
<!--			<div id="tag/Cars" data-section-id="tag/Cars" class="sc-eCApnc eMejJE"></div>-->
<!--			<div id="tag/Cars" data-section-id="tag/Cars" class="sc-eCApnc eMejJE"></div>-->
<!--			<div id="tag/Cars" data-section-id="tag/Cars" class="sc-eCApnc eMejJE"></div>-->
		</div>
		<div class="sc-kizEQm bBhNDy"></div>
	</div>
</div>

<div class="footer">
	<script>

	</script>
</div>
</body>
