<div th:replace="~{fragments/head}" xmlns:sec="http://www.w3.org/1999/xhtml"></div>

<body>
<div th:insert="~{fragments/header}"></div>

<div class="container">
	<div class="row">
		<div>
			<div class="panel">
				<div class="panel-body">
					<table class="table">
						<tr>
							<td><a th:href="@{/users}" class="btn btn-sm btn-primary pull-left"><i class="fa fa-info-circle"></i> Список пользователей</a></td>
							<td><a th:href="@{/products}" class="btn btn-sm btn-primary pull-left"><i class="fa fa-info-circle"></i> Список продуктов</a></td>
							<td><a th:href="@{/dishes}" class="btn btn-sm btn-primary pull-left"><i class="fa fa-info-circle"></i> Список блюд</a></td>
							<td th:if="${user != null}"><a th:href="@{'/users/' + ${user.id} + '/view'}" class="btn btn-sm btn-primary pull-left"><i class="fa fa-info-circle"></i> О себе</a></td>
							<td sec:authorize="!isAuthenticated()"><a th:href="@{'/register'}" class="btn btn-sm btn-primary pull-left"><i class="fa fa-info-circle"></i> Регистрация</a></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div th:insert="~{fragments/footer}"></div>
</body>