<div th:replace="~{fragments/head}"></div>

<body>
<div th:insert="~{fragments/header}"></div>

<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<h2 class="text-center text-dark mt-5">Login form</h2>
			<div class="card my-5">
				<form autocapitalize="none" autocomplete="off" th:action="@{/auth}" th:method="post" class="card-body cardbody-color p-lg-5">
					<div class="text-center">
						<img src="https://cdn.coursehunter.net/category/linux.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3" width="200px" alt="profile" />
					</div>
					<div class="mb-3">
						<input type="text" class="form-control" id="login" aria-describedby="emailHelp" aria-autocomplete="none" autocomplete="off" autocapitalize="none"  />
					</div>
					<div class="mb-3">
						<input type="password" class="form-control" id="password" aria-autocomplete="none" autocomplete="off" autocapitalize="none" />
					</div>
					<div class="text-center">
						<button type="submit" class="btn btn-color px-5 mb-5 w-100">Login</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div th:insert="~{fragments/footer}"></div>
</body>
</html>